.carousel {
    margin: 0 0 2em;
    
}

.carousel h3 {
    margin: 0 1em;
}

.slide {
    padding: 0.25em;
    box-sizing: border-box;
}

.slide h4 { 
    max-height: 1em;
    min-height: 1em;
    color: black;
    padding: 0 0.5em;
    font-weight: 700;
}

.slide .image{
    height: calc(100px + 15vw);
    border-radius: 30px;
    box-shadow: 3px 3px 6px grey;
}

.slide p {
    line-height: 1.4;
}

.experiencedate {
    color: grey;
    font-size: 0.8em;
}

@media (min-width:767px) {
    .carousel {
        margin: 4em 1em;
    }


}