.experiencescontainer {
  padding: 1rem;
}

.experiencescontainer h3 {
    margin-top: 0;
    font-size: 1.5em;
  }


.experiencescontainer div:nth-child(2) {
  margin: 1rem 0;
  border-radius: 10%;
}

.experiencescontainer button {
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5%;
    color: white;
    font-weight: bold;
  }


.experiencesbtn {
    background: #0091ff;
}

@media (min-width: 767px) {
  .experiencescontainer {
    display: flex;
    padding: 2rem 1rem;
  }

  .textcontainer {
    text-align: right;
    width: 60%;
    order: 2;
  }

  .experiencescontainer > div:nth-child(2) {
    width: 40%;
    box-sizing: border-box;
  }
}
