@import "../../basestyles/colors.scss";

.header {
  font-size: calc(2px + 2.5vw);
  position: relative;
}

.headerimage {
  border-radius: 5% 3% 10%;
  transform: translate(-35%, 0%);
  overflow: hidden;
  
}

.copycontainer {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 5px;
  text-align: right;
  background: rgba(255,255,255, 0.6);
}

.copybox1 {
  font-size: 1.3em;
}

.copybox2 {
  font-size: 1.5em;
}

.copybox2 h3 {
  font-weight: 300;
}

.copybox3 {
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-weight: bold;
  width: 75%;
}

.copybox3 p {
  margin-bottom: 0;
}

.headerbtn button {
  background: black;
  padding: 0.5em 1em;
  color: white;
  text-align: center;
  border-radius: 500px;
  border: none;
  margin: 3vw 0;
  font-size: 1.5em;
}

@media (min-width: 767px) {
  .header {
    font-size: calc(1px + 2vw);
    position: relative;
    margin: 1%;
    padding-bottom: 5%;
  }
  .headerimage {
    border-radius: 10%;
    transform: unset;
    width: 40%;
    margin: 0 auto 0;
    transform: translateY(10%);
    box-shadow: 5px 3px 7px grey;
  }

  .copycontainer {
    position: unset;
    text-align: left;
    background: unset;
  }
  
  .copybox1 {
    width: 33%;
    background: $primary;
    border-radius: 20%;
    padding: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 5px 3px 7px grey;
  }

  .copybox1 h1 {
      margin-bottom: 30%;
  }

  .copybox2 {
    background: $secondary;
    border-radius: 20%;
    text-align: right;
    color: white;
    z-index: -100;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    padding: 5% 2%;
    box-shadow: 5px 3px 7px grey;
  }

  .copybox2 * {
    width: 65%;
    font-weight: bold;
    margin: 0 0 20% auto;
  }

  .copybox3 {
    width: unset;
  }

  .headerbtn {
      position: absolute;
      top: 60%;
      left: 2%;
  }

  .headerbtn button {
    background:$secondary;
    font-size: 1.1em;
  }

}
