$primary: #335066;
$primary-light:  #335066;
$primary-dark: #335066;

$secondary:#46AD96;
$secondary-light:#46AD96;
$secondary-dark:#46AD96;

$primary-text: #424242;
$secondary-text:#fce4ec;
$tertiary-text: #8a8a8a;
// #ffd4e7