@import "./colors.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

a{
    text-decoration: none;
}
// font-family: 'Roboto', sans-serif;

button:hover {
    filter: brightness(0.8);
    opacity: 0.8;

}

@media (min-width:767px) {
    body {
    font-size: calc(6px + 1.3vw);
    }
}