@import "../../basestyles/colors.scss";

.contactform {
    width:100%;
}

.formdatafields {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding:1em;
    box-sizing: border-box;
}

.formdatafields fieldset {
border:none;
width:100%;
margin: 0.5em 0;
padding: 0;
box-sizing: border-box;
}

.formdatafields fieldset input,
.formdatafields fieldset textarea {
    width: 100%;
    padding: 0.75em;
    padding-left: 1.25em;
    border-radius: 20px;
    background: none;
    border: white solid 2px;
    box-sizing: border-box;
    color:white;
    background: $primary;
    box-shadow: 1px 2px 3px grey;
    border: none;
}

.formdatafields fieldset input::placeholder,
.formdatafields fieldset textarea::placeholder {
color: white;
}
.formdatafields fieldset input {
    border-radius: 80px;
   
}

.formdatafields button {
    display:block;
    background: $secondary;
    padding: 0.5em 1em;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    border-radius: 30px;
    box-shadow: 1px 2px 3px grey;
}