@import "../../basestyles/colors.scss";

.footer {
  width: 100%;
  background: $secondary;
  color: white;
  display: flex;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: white;
}

.logo img {
  height: 2em;
}

.copyright {
  text-align: right;
  flex-grow: 1;
}
